version: '{build}'

# init:
#   - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

install:
  - SET PATH=C:\Ruby%ruby_version%\bin;%PATH%
  - ruby --version
  - gem --version
  - bundle --version
  - bundle install
  - ridk.cmd exec bundle exec rake compile
build: off
test_script:
  # - bundle exec rake test
  - bundle exec rake test TESTOPTS=-v

# https://www.appveyor.com/docs/installed-software/#ruby
environment:
  matrix:
    - ruby_version: "26-x64"
    - ruby_version: "26"
    - ruby_version: "25-x64"
    - ruby_version: "25"
